# Water barriers
public net.minecraft.world.level.block.state.StateHolder propertiesCodec # propertiesCodec

# Cape modelpart
public net.minecraft.client.model.PlayerCapeModel cape # cape

# Block properties
public net.minecraft.world.level.block.Blocks logProperties(Lnet/minecraft/world/level/material/MapColor;Lnet/minecraft/world/level/material/MapColor;Lnet/minecraft/world/level/block/SoundType;)Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;
public net.minecraft.world.level.block.Blocks leavesProperties(Lnet/minecraft/world/level/block/SoundType;)Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;

# Fish Eye
public net.minecraft.world.entity.EntityFluidInteraction$Tracker
